:root {
  font-family: Inter, Open Sans, Montserrat;
  line-height: 1.5;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #ff9900; /* updated color */
  border: none;
  padding: 0 auto;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* added shadow */
}

td {
  border: solid black 1px;
  background-color: #fff; /* updated color */
  border-radius: 5px;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px; /* added padding */
}

.container-small {
  margin-top: 50px;
  border: solid black 2px;
  border-radius: 10px;
  background-color: #fff; /* updated color */
  padding: 20px; /* added padding */
}

.screen {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: #333; /* updated color */
  color: #fff;
  font-size: 35px;
  text-align: right;
  padding: 20px; /* added padding */
}

.arithmetic {
  background-color: #ff9900; /* updated color */
  font-size: 15px;
}

#yellow {
  background-color: #ff9900; /* updated color */
}

.pre {
  margin-top: 10px;
  margin-left: 90px;
  font-size: 20px;
}

.head {
  font-size: 50px;
  color: #ff9900; /* updated color */
}


 

